* {
    box-sizing: border-box;
  }
html{
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }

span{
    display: block;
}

.button{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

#indigo{
    background: indigo;
}
#skyblue{
    background: skyblue;
}
#green{
    background: green;
}
#greenyellow{
    background: greenyellow;
}
#red{
    background: red;
}
#yellow{
    background: yellow;
}
#violet{
    background: violet;
}
#grey{
    background: grey;
}
